{% extends 'base.html' %} {% block content %}

<h1 class="title">Goats</h1>
<h1 class="title pt-5">{{header}}</h1>
<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of artist  -->
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button is-dark" href="{% url 'goats_list' %}">Clear Search</a>
  <a class="button is-dark" href="{% url 'goat_create' %}">Add Goat</a>
</form>
<div class="gallery">
    {% for goat in goats %}
    <!-- Here we are changing the href of the a tag to use the url DTL -->
      <a href="{% url 'goat_detail' goat.pk %}">
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img src="{{goat.img}}" alt="{{goat.name}}" />
            </figure>
          </div>
          <div class="card-header">
            <p class="card-header-title">{{goat.name}}</p>
          </div>
        </div>
      </a>
      {% endfor %}
</div>

{% endblock %}